# used by fastapi and docker
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# used only in prod
LOGTAIL_TOKEN=
LOGTAIL_HOST=

# generate via: openssl rand -hex 32
SECRET_KEY=

# used by SES
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
